################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/JavaScript/.vs
/JavaScript/packages
/JavaScript/WebExample/Bin
/JavaScript/WebExample/packages.config
/JavaScript/WebExample/Web.Debug.config
/.vs
