################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/JavaScript/.vs
/JavaScript/packages
/JavaScript/WebExample/Bin
/JavaScript/WebExample/packages.config
/JavaScript/WebExample/Web.Debug.config
/.vs
/.NET/.vs/netExample/v15
/.NET/Example01/.vs
/.NET/Example01/bin/Debug/net471
/.NET/Example01/obj
/.NET/Example02/bin/Debug/net46
/.NET/Example02/obj
